asgiref==3.2.10
beautifulsoup4==4.9.3
cart==1.2.1
certifi==2021.5.30
chardet==4.0.0
Django==3.1.1
django-cors-headers==3.5.0
django-crispy-forms==1.9.2
django-livereload-server==0.3.2
djangorestframework==3.12.4
idna==2.10
jsonfield==3.1.0
Pillow==8.2.0
pycryptodome==3.10.1
pytz==2020.1
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
sqlparse==0.3.1
tornado==6.1
urllib3==1.26.6
